@import "../public/assets/styles/hovers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;

  font-family: 'Gilroy', sans-serif;
  background: transparent;
}


html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  transition: background 0.2s ease-in, color 0.2s ease-in;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
  font: inherit;
}

input, textarea {
  font: inherit;
  background: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #050505;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }
}

